// MAIN COLORS
$color-accent: #003E47
$color-text: #525252
$color-border: rgba(0, 0, 0, 0.30)
$color-background: #F1F9F8
$color-background-alt: #FFFFFF

$header-logo-height: 30px
$header-logo-height-desktop: 50px

// fonts family
$body-font-family: "Rubik", sans-serif
$heading-font-family: "Prompt", sans-serif

// Headings
$heading-font-weight: bold
$h1-size-desktop: px2rem(66)
$h2-size-desktop: px2rem(48)
$h3-size-desktop: px2rem(28)
$h4-size-desktop: px2rem(22)

// Leads
$lead-size-desktop: px2rem(35)
$lead-font-family: $body-font-family
$lead-weight: normal

$hero-background-color: $color-accent
$hero-color: white
