// MAIN COLORS
$color-accent: #3575D3
$color-text: #3C3C3B
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F1F9F8

$header-logo-height: 30px
$header-logo-height-desktop: 50px

// Headings
$heading-font-weight: bold
$h1-size-desktop: px2rem(66)
$h2-size-desktop: px2rem(48)
$h3-size-desktop: px2rem(28)
$h4-size-desktop: px2rem(22)

$body-font-family: "Rubik", sans-serif
$heading-font-family: "Prompt", sans-serif



$hero-background-color: #FF5101
$hero-color: white
