.page__home
    .hero
        color: white
        background: #003E47

header#document-header
    border-bottom: none

.breadcrumb
    li
        &, a
            font-family: $body-font-family
            @extend .meta

img
    border-radius: 0.5rem

h2
    font-weight: normal

a
    font-family: $body-font-family
    font-weight: normal

.block-posts
    background: #FFFFFF


footer#document-footer
    background: #00A29A
    color: white
    a
        color: white
footer#document-footer ul li a
    color: white 
        