.page__home
    .hero
        background: none
        color: $color-text

header#document-header
    border-bottom: none

.breadcrumb
    li
        &, a
            font-family: $body-font-family
            @extend .meta

img
    border-radius: 0.5rem